@charset "utf-8";
/* CSS Document */
.caixa1	{
	width:30%;
	height:30%;
	background-color: red;
}.caixa2{
	width:100px;
	height:100px;
	margin: 10px;
	float: left;
	background-color: #D17200;
}
.caixa3{
	width:100px;
	height:100px;
	margin: 10px;
	float: left;
	background-color: #D17200;
}
.caixa4{
	width:100px;
	height:100px;
	margin: 10px;
	float: left;
	background-color: #D17200;
}.caixa2{
	width:100px;
	height:100px;
	margin: 10px;
	float: left;
	background-color: #D17200;
}.caixa5{
	width:100px;
	height:100px;
	margin: 10px;
	float: left;
	background-color: #D17200;
}
.caixa6{
	width:100px;
	height:100px;
	margin: 10px;
	float: left;
	background-color: #D17200;
}
.caixa7{
	width:100px;
	height:100px;
	margin: 10px;
	float: left;
	background-color: #D17200;
}
