@charset "utf-8";
/* CSS Document */

#topo{
	width: 1000px;
	height: 200px;
	margin: auto;
	background-color:red;
}
#logo{
	width: 150px;
	height: 150px;
	margin: auto;
	background-color: darkred;
}
#banner{
	width: 850px;
	height: 150px;
	margin: auto;
	background-color: indianred;
}
#conteudo{
	width: 1000px;
	height: auto;
	margin: auto;
	padding: 10px;
	box-sizing: border-box;
	background-color: orange;
}
#inicio{
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	background-color: orangered;
}
#entrada{
	width: 500px;
	height: 300px;
	background-color: darkkhaki;
}
#lateral{
	width: 500px;
	height: 300px;
	background-color: khaki;	
}
#destaque{
	width: auto;
	height: auto;
	display: flex;
	justify-content: space-between;
	background-color: orangered;
}
.produto{
	width: auto;
	height: auto;
	background-color: burlywood;
}
.produto img{width: 100%}
#rodape{
	width: 1000px;
	height: 200px;
	margin: auto;
	background-color: yellow;	
}